<div class="panel panel-default" ng-show="visible">
  <div class="panel-heading" ng-bind="formTitle()"></div>
  <div class="panel-body">
    <form>
	  <div class="form-group" 
	  ng-class="{'has-success': formUser.submitted && !formUser.errors.first_name, 'has-error': formUser.errors.first_name}">
	    <label>First name</label>
	    <input type="text" class="form-control" placeholder="First name" ng-model="formUser.first_name">
	    <span class="help-block" ng-bind="formUser.errors.first_name"></span>
	  </div>
	  <div class="form-group"
	  ng-class="{'has-success': formUser.submitted && !formUser.errors.last_name, 'has-error': formUser.errors.last_name}">
	    <label>Last name</label>
	    <input type="text" class="form-control" placeholder="Last name" ng-model="formUser.last_name">
	    <span class="help-block" ng-bind="formUser.errors.last_name"></span>
	  </div>
	  <div class="form-group"
	  ng-class="{'has-success': formUser.submitted && !formUser.errors.iban, 'has-error': formUser.errors.iban}">
	    <label>IBAN</label>
	    <input type="text" class="form-control" placeholder="IBAN" ng-model="formUser.iban">
	    <span class="help-block" ng-bind="formUser.errors.iban"></span>
	  </div>
	  <button type="submit" class="btn btn-default btn-success" ng-click="formSubmit(formUser)">Submit</button>
	  <button type="cancel" class="btn btn-default" ng-click="formCancel()">Cancel</button>
	</form>
  </div>
</div>
