{% extends "pages/base.html" %}
{% load i18n staticfiles %}


{% block content %}
	<div class="ng-cloak" ng-app="usersApp" ng-controller="usersController">
		<a ng-click="showAddUser()" class="btn btn-default btn-primary pull-right" href="#">Add user</a>

		<table class="table">
			<thead>
				<tr>
					<th>{% trans "First name" %}</th>
					<th>{% trans "Last name" %}</th>
					<th>{% trans "IBAN" %}</th>
					<th>{% trans "Creator" %}</th>
					<th>{% trans "Operations" %}</th>
			    </tr>
			</thead>
			<tbody>
				{% verbatim %}
				<tr ng-repeat="user in users">
					<td>{{ user.first_name }}</td>
					<td>{{ user.last_name }}</td>
					<td>{{ user.iban }}</td>
					<td>{{ user.creator.username }}</td>
					<td><a ng-click="deleteUser(user)" 
						class="btn btn-default btn-danger" href="#" 
						ng-if="currentUser == user.creator.id">Delete</a></td>
				</tr>
				{% endverbatim %}
			</tbody>
		</table>

		<user-form visible="formVisible" editedUserData="editedUserData" editedUserId="editedUserId" callback="addUserCallback(user)"></user-form>
	</div>
{% endblock %}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

<script src="{% static "js/dashboard/users.app.js" %}"></script>
<script src="{% static "js/dashboard/users.service.js" %}"></script>
<script src="{% static "js/dashboard/users.controller.js" %}"></script>
<script src="{% static "js/dashboard/user-form.directive.js" %}"></script>
<script type="text/javascript">
  angular.module('usersApp').constant("Constants", {
    currentUser: '{{ request.user.id }}'
  });
</script>
{% endblock %}